# Node dependencies
node_modules

# Output build folder
dist

# Environment variables (API keys, DB URI, etc.)
.env

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# MacOS junk
.DS_Store

# Windows junk
Thumbs.db
